<!-- Footer -->
<footer class="footer">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-4 order-md-1 order-2">
                    <div class="copyright_content d-flex flex-row align-items-center justify-content-start">
                        <div class="cr">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | West Coast Power-Vac
                        </div>
                    </div>
                </div>
                <div class="col-md-8 order-md-2 order-1">
                    <nav class="footer_nav d-flex flex-row align-items-center justify-content-md-end">
                        <ul>
                            <li><a href="home">Home</a></li>
                            <li><a href="about">About us</a></li>
                            <li><a href="services">Services</a></li>
                            <li><a href="reviews">Reviews</a></li>
                            <li><a href="contact">Contact</a></li>
                            <li><a href="" data-toggle="modal" data-target="#modalLoginAvatar">Admin</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->

<!-- Latest compiled JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
</body>
</html>
